@model GameShelf.Models.Game
@{
    ViewData["Title"] = "Game Shelf Home";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Game Shelf!</h1>
    <p><a>A place to record your game collections and compare with friends.</a>.</p>
</div>
